<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Projety", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="border-b-2 border-blue-500 navbar bg-base-100">
      <div class="navbar-start">
        <a href="/" class="text-xl uppercase btn btn-ghost">Projety</a>
      </div>
      <div class="space-x-2 navbar-end last:font-bold">
        <%= if Pow.Plug.current_user(@conn) do %>
          <%= link "Sign Out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "mr-2 btn btn-outline btn-sm rounded-sm mr-2"  %>
          <%= @current_user.email %>
        <% else %>
          <%= link "Register", to: Routes.pow_registration_path(@conn, :new), class: "mr-2 btn btn-outline btn-sm rounded-sm mr-2" %>
          <%= link "Sign In", to: Routes.pow_session_path(@conn, :new), class: "mr-2 btn btn-outline btn-sm rounded-sm mr-2" %>
        <% end %>
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <a><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "font-bold hover:blue-300" %></a>
        <% end %>
      </div>
    </div>
    <%= @inner_content %>
  </body>
</html>
